/* GENERAL */

body, html {
	font-size: 16px;	
}
// banner
.bannerimg{
	img{
		width: 100%;
	}
}
// contenido
.u-contentOne{
	margin: 0 auto;
	width: 1000px;
}

.u-contentTwo{
	margin: 0 auto;
	width: 1200px;
}

// bloque mision
.mission{
	color: blue;
	margin: 25px 0 50px 0;
	&-logo {
		font-size: 8em;
	}
	hr {
		border: 1px solid blue;
	}
	&-title{
		font-size: 3em;
	}
	&-text{
		display: flex;
		justify-content: space-between;
		&-col{
			width: 48%;
		}
	}
	&-bottom{
		display: flex;
		&-svg{
		font-size: 12em;
		margin-right: 30px;
		}
		&-text{
			display: column;
			.title{
				font-size: 1.3em;
			}
			.subtitle{
				font-weight: normal;
			}
		}		
	}
}
// bloque numbers
.numbers{
	background-color: blue;
	color: white;
	padding: 50px 0;
	&-cont{
		text-align: center;
		&-top{
		display: flex;
		justify-content: space-around;
		.title{
			font-size: 1em;
			}
		}
		&-middle{
			display: flex;
			justify-content: center;
			.box{
				font-size: 8em;
				border: 1px solid white;
				padding: 15px 30px;
			}
		}
	}
}
// bloque case
.case{
	margin: 35px auto;
	display: flex;
	flex-direction:space-between;
	color: white;
	&-img{		
		width: 50%;
		img{			
			width:100%;
			height: 100%;			
		}
	}
	&-text{
		box-sizing:border-box;
		width: 50%;
		background-color: pink;
		padding: 18px 55px;
		&-subtitle{
			font-size: 0.98em;
			font-weight: normal;
		}
		&-title{
			font-size: 3em;
		}
		&-text{
			width: 100%;
			line-height: 1.7em;
			padding-bottom: 15px;
		}
		&-button{			
			background-color: #74e4d0;
			border-radius: 15px;
			border-bottom:solid 5px grey;
			.text{
				padding: 0 70px;
				font-weight: bold;
				color: white;
				font-size: 1.5em;
			}
		}
		&-button:hover{			
			background-color: #a7d6c4;
			border-radius: 15px;
		}
	}
}

// bloque contact
.contact{
	background-color:blue;
	color: white;
	padding: 50px 0;	
	&-title{
		font-size: 3em;
	}
	&-form{
		width: 100%;
		&-container{		
		display: flex;
		justify-content: space-between;
		.col{
			width: 48%;
			padding: 10px 0;			
			input{
				box-sizing:border-box;
				padding: 10px;
				color: white;
				background-color: transparent;
				border-radius: 5px;
				margin-bottom: 20px;
				width: 100%;					
			}
		}
	}
		&-bot{
		input[type=submit]{
			background-color:white;
			color:blue;
			border-radius:8px;
			border-bottom:solid 5px grey;
			padding:15px 0;
			width:300px;
			font-size:1.3em;
			}
		}
	}	
}

// bloque FAQ
.faq{
	padding-top: 50px;
	color: blue;
	hr {
		border: 1px solid blue;
	}
	&-title{
		font-size: 3em;
	}
	&-list{
		list-style-type: none;
		padding: 0px;
		border-top: 1px solid blue;
		&-item{
			border-bottom: 1px solid blue;
		}
		.icon{
			float: right;
		}
	}
}
// bloque footer
.footer{
	background-color: blue;
	color: white;	
	width:100%;
	padding-top: 10px;
	&-content{			
		display: flex;	
		margin: 0 auto;
		width: 1200px;		
		&-column{
			padding-right: 250px;
			.logo {
				font-size: 5em;				
			}
			&-name{

			}
		}
		&-columnTwo{
			padding-right: 50px;			
			.hrr{
				border: 1px solid white;
			}
			ul{
				list-style: none;
				padding: 0px;
			}
			.link{
				padding-bottom: 20px;
			}
			
		}
		&-columnForm{
				input[type=email]{
					color: white;
					background-color: transparent;
					width: 45%;
					padding: 10px;
				}	
				input[type=submit]{
					font-size: 1em;
					font-weight: bold;
					color: white;
					background-color: transparent;
					width: 45%;
					padding: 10px;
					}						
		}
	}
}
